* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff7043, #ff9a76);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 45px 40px;
    width: 420px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease-in-out;
}

.card h1 {
    margin: 0;
    font-size: 30px;
}

.card h2 {
    margin: 10px 0;
    font-weight: 500;
    color: #444;
}

.card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.primary {
    background: #ff7043;
    color: white;
}

.primary:hover {
    background: #e85d32;
    transform: translateY(-2px);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
