body {
    background: linear-gradient(135deg, #ff7a45, #ff9a6b);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 380px;
    padding: 20px 24px; 
    border-radius: 20px;
    text-align: center;
}
.card {
  margin: 20px auto;   
}

h1 {
    margin-bottom: 5px;
}

.sub {
    color: gray;
    margin-bottom: 20px;
}


input, select {
    width: 100%;
    height: 48px;
    padding: 12px 14px;
    margin-bottom: 12px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 48px;
    background: #ff7a45;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff6228;
}

#message {
    margin-top: 12px;
    font-size: 14px;
}

.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding-right: 45px;
}

.eye-emoji {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;     
  user-select: none;
}

.eye-emoji:hover {
  opacity: 1;
}

