* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 380px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 25px;
}

h2 span {
    color: #ff5e62;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 14px;
    background: #ff5e62;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff3b3f;
}

#message {
    margin-top: 12px;
    font-weight: bold;
}

.register-text {
    margin-top: 18px;
    font-size: 14px;
}

.register-text span {
    color: #ff5e62;
    cursor: pointer;
    font-weight: bold;
}
